@charset "UTF-8";

@font-face {
    font-family: 'Font-Titulo';
    src: url(_Fontes/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Font-Texto';
    src: url(_Fontes/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Font-Subtitulo';
    src: url(_Fontes/Travel.ttf);
}

html {font-size: 62.5%}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
    background-color: rgb(210, 209, 206);
    min-width: 320px
}

.container-principal {
     max-width: 1200px;
     margin: 0;
     padding: 0 30px;
}

.conteudo {
    flex-grow: 1;
}

/*Menu inicial*/

header {
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.img-logo {
    width: 30px;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

header h1 {
    color: white;
    font-size: 2.0rem;
    margin-left: 10px;

}

header h1 span {
    color: #e97f2c;
}

.nav-desktop {
    display: flex;
}

.menu-mobile-icon {
    display: none;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    font-size: 1.4rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 5px;
    margin-right: 20px;
    font-weight: normal;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #e97f2c;
}

/**/

section.destaque {
    background-image:url(/Imagens/Moto-background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 585px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.caixa-destaque {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5%;
    padding: 30px;
    margin: 10px;
}

h2.texto-destaque {
    color: rgb(255, 255, 255);
    font-family:'Font-Titulo';
    font-size: 4.7rem;
    line-height: 1.1;
    letter-spacing: 3px;
}

.btn1  {
background-color: #e97f2c;
text-decoration: none;
font-family: 'Font-Titulo';
font-size: 2.0rem;
color: white;
padding: 20px;
transition: background-color 0.3s ease-in-out;
}

.btn1:hover {
    background-color: rgb(0, 0, 0);
}

/*Ultima Aventura Dicas para Viagem*/

div.secoes-principais {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

section.vPage {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

aside a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color:#2777d3;
  transition: color 0.3s;
}

aside a:hover {
    color: #001aff;
}

section.vPage h2 {
    margin-bottom: 10px;
    font-family: 'Font-Subtitulo';
    font-size: 2.5rem;
    letter-spacing: 1.5px;
}

section.vPage img {
    border: 2px solid black;
    max-width: 200px;
    height: 200px;
    flex-shrink: 0;
    object-fit: cover;
}

div.cPrincipal {
    display: flex;
}


aside {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

aside h1 {
    font-family:'Font-Texto';
    font-size: 2.7rem;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

p.data-p {
    font-family: 'Font-Texto';
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #6e6d6dce;
}

p.p-viagem {
    font-family: 'Font-Texto';
    max-width: 500px;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 5px;
}



/*Ultima Aventura Dicas para Viagem*/

section.vPage2 {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

section.vPage2 h2 {
    margin-top: 35px;
    margin-bottom: 20px;
    font-family: 'Font-Subtitulo';
    font-size: 2.5rem;
    letter-spacing: 1.5px;
}

section.vPage2 p {
    font-family: 'Font-Texto';
    font-size: 1.6rem;
    max-width: 500px;
    line-height: 1.5;

    margin-bottom: 10px;

}

section.vPage2 a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color:#2777d3;
  transition: color 0.3s;
}

section.vPage2 a:hover {
    color:#001aff
}

/*Galeria*/

section.galeria {
    text-align: center;
    margin-top: 100px;
    padding: 5px;

}

section.galeria h2 {
    font-size: 2.9rem;
    font-family: 'Font-Subtitulo';
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}

div.galeria-imagens {
    display: flex;
    justify-content: center;
    gap: 5px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

div.galeria-imagens img {
    width: 210px;
    object-fit: cover;
    border: 1px solid ;

}


div.galeria-navegacao span {
display: inline-block;
width: 10px;
height: 10px;
border-radius: 50px;
background-color: #cececece;
margin: 5px;

}

span.ativo {
    background-color: #e97f2c;
}

/*Seção sobre mim*/

section.sobreMim {
    text-align: left;
    margin-top: 100px;
    justify-items: center;

}

.conteudoSobre {
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    max-width: 800px;
    gap: 20px;
}

section.sobreMim h2 {
    font-family: 'Font-Subtitulo';
    font-size: 2.5rem;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}

section.sobreMim p {
    font-family: 'Font-Texto';
    line-height: 1.4;
    margin-bottom: 10px;
    font-size: 1.5rem;

}

.conteudoSobre a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #2777d3;
    transition: color 0.3;

}

.conteudoSobre a:hover {
    color: #001aff;
}

img.foto-perfil {
    border-radius:70px;
    width: 120px;
    height: 120px;
    border: 1px solid black;
    margin-top: 20px;

}


/*Rodapé*/

.rodape {
    background-color: #000000;
    padding: 12px;
    margin-top: 100px;


}
.rodape-container {
    color: white;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 1.6;
    text-align: center;
}




/* Estilização dá área contato */

.secao-introducao {
    margin-top: 130px;
    text-align: center;
    margin-bottom: 100px;


}

.secao-introducao h2 {
    font-family: 'Font-Titulo';
    font-size: 4.5rem;
}

.secao-introducao p {
    margin-top: 10px;
    font-family:'Font-Texto';
    font-size: 1.5rem;
}

.contato-container {
    box-shadow:
    inset 0 -3em 3em rgba(120, 121, 120, 0.3),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.6);
    max-width: 600px;
    margin: 0 auto;
    border-radius: 40px;
}

.formulario-contato {
    display: flex;
    flex-direction: column;
    padding: 30px;

}

.btn-contato {
    font-family: 'Font-Titulo';
    color: white;
    font-size: large;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: #e97f2c;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    border:none
}

.btn-contato:hover{
    background-color: black;
}

.campo-grupo {
    align-items: flex-start;
    font-family: 'Font-Titulo';
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.campo-grupo label {
    padding: 5px;
    font-size: 1.5rem;
    width: 20%;

}
.campo-grupo input {
    width: 100%;
    padding: 5px;
}


.campo-grupo-vertical {
    flex-direction: column;

}

.campo-grupo-vertical textarea {
    width: 100%;

}


/* Alteraçao para dispositívos móveis */

@media (max-width: 768px) {


div.secoes-principais {
    flex-direction: column;
}

h2.texto-destaque {
    font-size: 3.0rem;
}

.conteudoSobre {
    flex-direction: column;
}


div.galeria-imagens {
    justify-content: flex-start;
    overflow-x: auto;
}

div.galera-imagens img {
    width: 150px;
}

.nav-desktop {
    display: none;
}

.menu-mobile-icon {
    display: flex;
    width: 2.0rem;
    height: 2.0rem;
    margin-right: 30px;
    cursor: pointer;
}

/* Media Query da página contato */

.contato-container {
    margin: 40px;

}


.secao-introducao h2 {
    font-size: 3.2rem
}

.campo-grupo {
    flex-direction: column;
}


.campo-grupo label {
    width: 100%;
    margin-bottom: 5px;

}

.campo-grupo input {
    width: 100%;
    box-sizing: border-box;
}
}

