* {
    padding: 0;
    margin: 0;
}

body {
    
    font-family: sans-serif;
    margin-top: 50px;
}

/*Menu inicial*/

header {
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

header h1 {
    color: white;
    font-size: 20pt;
    margin: 0;
}

header h1 span {
    color: orange;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 20px;
    font-weight: normal;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: orange;
}

/**/

section.destaque {
    background-image:url(/Imagens/Moto-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}